*{
    font-family:Arial, Helvetica, sans-serif;
  }
  *:focus{
    outline: none;
  }

  h1{
    margin-top: 0px;
    color: var(--h1-color);
    text-align: center;
  }

  header{
    background-color: var(--header-background-color);
    height:fit-content;
    width:auto;
    padding: 10px;
  }

  .entryNum{
    text-align: center;
    color: var(--entryNum-color);
    font-style: italic;
  }

  footer{
    position: fixed;
    display:inline-flex;
    bottom:0%;
    font-size: small;
    font-style: bold;
    
    background-color: var(--footer-background-color);
    width: 100vw;
    z-index: 1000;

    .right{
      text-align: right;
    }
    *{
      width:50%;
    }
  }