
*:focus{
  outline: none;
}

h2{
    color: var(--h2-color);
    text-align: left;
    padding: 2px;
    margin-bottom: 0px;
  }

  section{
    background-color: var(--section-background-color);
    height:fit-content;
    width:auto;
    padding: 1px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
  }
  section.current{
    outline-width: 5px;
    outline-style: auto;
    filter: brightness(1.013);
    outline-color: var(--section-current-outline-color);
  }
  
  .contentText{
    color: var(--contentText-color);
    margin-left: 10px;
    margin-right: 10px;
  }

  .date{
    color: var(--contentText-color);
    font-size: small;
    margin: none;
    padding: none;
    padding-left: 2px;
  }

  section.deleted{
    background-color: var(--section-deleted-background-color);
    h2{
      color: var(--h2-deleted-color);
      font-style: italic;
    }
  .contentText{
    color: var(--contentText-deleted-color);
  }
  }