
*:focus{
  outline: none;
}

h2{
  color: #2f2f2f;
  text-align: left;
  padding: 2px;
  margin-bottom: 0px;
}

section{
  background-color: rgb(248, 248, 248);
  height:fit-content;
  width:auto;
  padding: 1px;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.contentText{
  color: #353637;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  padding: 2px;
}

.date{
  font-size: small;
  margin: none;
  padding: none;
  padding-left: 2px;
}

textarea {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.footnoteMarker{
  width: min-content;
  margin-right: 0px;
}

.footnoteBinder{
  display:flex;
}