<section>
    <h2>Footnotes</h2>
    <!-- If it's not "empty"... -->
    @if (notes.length != 1){
        <!-- ...for every note, if it's not the empty note... -->
        @for (note of notes; track note.id){
            @if (note.id != 0) {
                <!-- ...make an editable footnote. -->
                <p class="contentText" contenteditable="true">{{note.content}}</p>
            }
        }
    }
    <!-- Otherwise, display this text. -->
    @else {
        <p style="font-style: italic;">Nothing yet...</p>
    }
    </section>