<section id="footnotes" class="dynamic_page_width">
    <h2>Footnotes</h2>
        <div>
            <!-- If it's not "empty"... -->
            @if (notes.length != 0){
                <!-- ...for every note... -->
                @for (note of notes; track note.id){
                    <!-- ...make an editable footnote. -->
                     <div class="footnoteBinder">
                         <p class="contentText footnoteMarker" [attr.fnid]="note.id">[{{note.id}}]: </p>
                         <p class="contentText footnoteText" contenteditable="true" [attr.fnid]="note.id">{{note.content}}</p>
                     </div>
                }
            }
            <!-- Otherwise, display this text. -->
            @else {
                <p style="font-style: italic;">Nothing yet...</p>
            }
        </div>
    </section>