
*:focus{
  outline: none;
}

h2{
  color: var(--h2-color);
  text-align: left;
  padding: 2px;
  margin-bottom: 0px;
}

section{
  background-color: var(--section-background-color);
  height:fit-content;
  width:auto;
  padding: 1px;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.contentText{
  color: var(--contentText-color);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  padding: 2px;
}

.date{
  font-size: small;
  margin: none;
  padding: none;
  padding-left: 2px;
}

textarea {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: 100%;
  background-color: var(--textarea-background-color);
}

.footnoteMarker{
  width: min-content;
  margin-right: 0px;
}

.footnoteBinder{
  display:flex;
}